.steps {
  padding-left: 48px;
}

.step {
  position: relative;
  padding-bottom: 24px;
  user-select: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(158, 166, 176, 1);
    right: calc(100% + 12px);
    top: 6px;
    transition: background-color 0.3s;
  }

  &:not(:last-of-type)::after {
    content: '';
    position: absolute;
    width: 2px;
    height: calc(100% - 24px);
    background-color: rgba(217, 217, 217, 1);
    top: 24px;
    right: calc(100% + 17px);
    transition: background-color 0.3s;
  }
}

.stepActive {
  &::before {
    background-color: rgba(6, 210, 231, 1);
  }

  .stepOrder {
    color: rgba(6, 210, 231, 1);
  }

  .stepTitle {
    color: white;
  }

  .stepText {
    color: white;
  }
}

.stepOrder {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  color: rgba(158, 166, 176, 1);
  right: calc(100% + 34px);
  transition: color 0.3s;
}

.stepTitle {
  font-size: 20px;
  font-weight: 500;
  color: rgba(158, 166, 176, 1);
  transition: color 0.3s;
  margin-bottom: 4px;
}

.stepText {
  font-size: 16px;
  color: rgba(158, 166, 176, 1);
  transition: color 0.3s;
}

.stepIllustrationWrapper {
  padding: 24px;
  border: 2px solid rgba(6, 210, 231, 1);
  border-radius: 8px;
}

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 64px;
  }

  .stepIllustrationWrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 564px;
    scrollbar-width: none;
    font-size: 12px;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      flex-shrink: 0;
      margin: auto;
    }
  }
}
