.button {
  padding: 12px 16px;
  background: rgba(3, 178, 196, 1);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  font-family: inherit;
}

.block {
  display: block;
  width: 100%;
}
