.title {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: rgba(58, 123, 219, 1);
    width: 100px;
    height: 100px;
    filter: blur(50px);
    right: -50px;
    bottom: -50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 526px;
}

.text {
  margin-top: 16px;
  font-size: 14px;
  margin-bottom: 160px;
}

.link {
  font-size: inherit;
  color: inherit;
}

.button {
}

@media (min-width: 1024px) {
  .title {
    &::after {
      width: 285px;
      height: 285px;
      filter: blur(150px);
      right: -64px;
      bottom: unset;
      top: 0;
    }
  }

  .button {
    align-self: start;
  }
}
