.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 526px;
}

.text {
  margin-top: 16px;
  font-size: 14px;
  margin-bottom: 160px;
}

.link {
  font-size: inherit;
  color: inherit;
}

.button {
}

@media (min-width: 1024px) {
  .button {
    align-self: start;
  }
}
