.wrapper {
  display: flex;
  grid-gap: 8px 0;
}

.image {
  align-self: center;
  min-width: 150px;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
}

.text {
  font-size: 12px;

  &:first-of-type {
    justify-self: start;
  }

  &:last-of-type {
    justify-self: end;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .text {
    display: none;
  }

  .image {
    min-height: unset;
    justify-self: unset;
    width: 100%;
  }
}
