@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgba(20, 47, 78, 1);
  color: white;
  font-family: 'Onest', sans-serif;
}

ul {
  list-style: none;
}
