.title {
  margin-top: 96px;
}

.task {
  border: 2px solid rgba(6, 210, 231, 1);
  border-radius: 8px;
  padding: 24px;
  width: 100%;
  height: 100%;
}

.taskTitle {
  margin-bottom: 40px;
}

.taskText {
  font-size: 16px;
}

.wrapper {
  position: relative;
  margin: 0 -24px;

  &::after {
    content: '';
    position: absolute;
    background-color: rgba(58, 123, 219, 1);
    width: 100px;
    height: 100px;
    filter: blur(50px);
    right: calc(100% - 48px);
    bottom: 0;
  }
}

.slider {
  padding: 0 24px;
}

@media (min-width: 1024px) {
  .wrapper {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;

    &::after {
      width: 285px;
      height: 285px;
      filter: blur(150px);
      top: 0;
      margin: auto;
      bottom: 0;
      right: unset;
      left: -200px;
    }
  }
}
