.sliderWrapper {
  margin: 0 -24px;
}

.slider {
  padding: 24px;
}

.slide {
  border: 2px solid rgba(6, 210, 231, 1);
  border-radius: 8px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
}
