.sliderWrapper {
  margin: 0 -24px;
  position: relative;
}

.slider {
  padding: 0 24px;
}

.slide {
  border: 2px solid rgba(6, 210, 231, 1);
  border-radius: 8px;
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;

  > * {
    opacity: 80%;
  }
}

.button {
  display: none;
}

.buttonLeft {
}

.buttonRight {
}

@media (min-width: 1024px) {
  .sliderWrapper {
    margin: 0;
  }

  .slider {
    padding: 0;
  }

  .slide {
    height: 100px;
  }

  .button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: none;
    border: none;
    width: 100px;
    cursor: pointer;
    stroke: #06d2e7;
    transition: stroke 0.3s;
    stroke-width: 3px;

    &:disabled {
      stroke: rgba(217, 217, 217, 0);
    }
  }

  .buttonLeft {
    right: calc(100%);
  }

  .buttonRight {
    left: calc(100%);
  }
}
