.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.message {
  max-width: 80%;
  align-self: start;
}

.viewerMessage {
  align-self: end;
}

.name {
  font-size: 12px;
  color: rgba(217, 217, 217, 1);
  margin-bottom: 6px;
}

.bubble {
  font-size: 16px;
  padding: 12px;
  background-color: rgba(58, 123, 219, 1);
  border-radius: 8px;
}

.viewerMessage .bubble {
  background-color: rgba(3, 178, 196, 1);
}
